<mat-toolbar color="primary">
  <a [routerLink]="['/']">
    <img class="cthulhu" src="https://image.flaticon.com/icons/png/512/1137/1137005.png">
  </a>
  <span>Don't Mess with Cthulhu</span>
  <span class="spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon"
          aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" *ngIf="auth.user | async" (click)="logout()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
<div *ngIf="auth.user | async as user; else showLogin">
  <router-outlet></router-outlet>
</div>
<ng-template #showLogin>
  <div class="login">
    <button mat-raised-button (click)="login()" color="primary">Login to play!</button>
  </div>
</ng-template>

