<mat-toolbar color="primary">
  <a [routerLink]="['/']" matTooltip="Back to main menu">
    <img class="cthulhu" src="https://image.flaticon.com/icons/png/512/1137/1137005.png">
  </a>
  <span>Don't Mess with Cthulhu</span>
  <span class="spacer"></span>
  <a routerLink="about"
     mat-icon-button class="example-icon favorite-icon"
     matTooltip="About"
     aria-label="About">
    <mat-icon>favorite</mat-icon>
  </a>
  <a href="https://github.com/KevinVillela/lovecraft"
     matTooltip="View source"
     mat-icon-button class="example-icon"
     aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </a>
  <button mat-icon-button class="example-icon" *ngIf="auth.user | async" (click)="logout()"
          matTooltip="Logout">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
<div *ngIf="auth.user | async as user; else showLogin">
  <router-outlet></router-outlet>
</div>
<ng-template #showLogin>
  <div class="login">
    <button mat-raised-button (click)="login()" color="primary">Login to play!</button>
  </div>
</ng-template>

