:host {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 24px;
}

.container {
  width: 500px;
}

.options {
  display: flex;
  flex-direction: row;

  button, mat-checkbox {
    margin-right: 8px;
  }

  mat-checkbox {
    color: white;
  }
}
