<div class="game">
  <div #circle class="circle" id="circle">
    <div *ngFor="let player of (players | async); trackBy: trackByIndex" class="player"
         [class.highlight]="game.value?.currentInvestigatorId === player.player.id"
         [style.top.px]="player.top"
         [style.left.px]="player.left">
      <span class="player-name">
      <div class="card role"
           [matTooltip]="tooltipForRole(player.player.role, player.player)">
      <img [src]="imageForRole(player.player.role, player.player)">
     </div>
        {{player.player.id}}
    </span>
      <div class="cards">
        <div *ngFor="let card of player.player.hand; trackBy: trackByIndex; index as i"
             class="play card"
             [@simpleFadeAnimation]="'in'"
             [matTooltip]="tooltipForCard(card, player.player)"
             (click)="clickCard(player.player, i + 1, $event)
      ">
          <img [src]="imageForCard(player.player, card)">
        </div>
      </div>
      <div class="cards">
        <div class="card investigator"
             *ngIf="game.value?.currentInvestigatorId === player.player.id"
             matTooltip="The lead investigator.">
          <img
              src="assets/flashlight.png">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="visible-cards">
  <div class="state" *ngIf="gameStatus | async; let status" [@simpleFadeAnimation]="'in'">
    <span class="round">Round {{status.round}}</span>
    <span class="picked-remaining">Remaining picks this round: {{status.roundRemaining}}</span>
    <span class="cultists">
      Cultists: {{status.minCultists}}
      <ng-container
          *ngIf="status.minCultists !== status.maxCultists">- {{status.maxCultists}}</ng-container>
    </span>
    <span class="elder-signs">Elder Signs Picked: {{status.elderSignsPicked}}
      / {{status.elderSignsTotal}}</span>
    <span class="mirage-picked">Mirage picked: {{status.miragePicked ? 'Yes' : 'No'}}</span>
  </div>
  <div *ngFor="let cardRound of (cardRounds | async); trackBy: trackByIndex;"
       class="visible-cards-round">
    <div *ngFor="let card of cardRound; trackBy: trackByIndex;" class="card"
         [@simpleFadeAnimation]="'in'"
         [matTooltip]="tooltipForVisibleCard(card)"
         (click)="magnifyCard($event)">
      <img [src]=" imageForVisibleCard(card)
    ">
    </div>
  </div>
</div>

<div class="end-container"
     [@simpleFadeAnimation]="'in'"
     *ngIf="game.value?.state === 'Cultists Win' || game.value?.state === 'Investigators Win'">
  <ng-container *ngIf="getBradleyMessage(); else noBradley; let bradleyMessage">
    <div class="animated intensifies ending">{{bradleyMessage}}</div>
  </ng-container>
  <ng-template #noBradley>
    <ng-container *ngIf="game.value?.state === 'Cultists Win'">
      <div class="animated intensifies ending">Cultists Win!!</div>
    </ng-container>

    <ng-container *ngIf="game.value?.state === 'Investigators Win'">
      <div class="animated shakeit ending">Investigators Win!!</div>
    </ng-container>
  </ng-template>
  <button mat-flat-button matTooltip="Restart the game with the same players." (click)="restart()"
          color="primary">
    Restart?
  </button>
</div>
