<div class="game">
  <div class="status">Round {{game.value?.round}}</div>

  <div class="circle" id="circle">
    <div *ngFor="let player of (players | async); trackBy: trackByIndex" class="player"
         [style.top.px]="player.top"
         [style.left.px]="player.left">
    <span class="player-name">
      <div class="card role"
           [matTooltip]="tooltipForRole(player.player.role, player.player)">
      <img [src]="imageForRole(player.player.role, player.player)">
     </div>
      {{player.player.id}}
    </span>
      <div class="cards">
        <div *ngFor="let card of player.player.hand; trackBy: trackByIndex; index as i"
             class="play card"
             [@simpleFadeAnimation]="'in'"
             [matTooltip]="tooltipForCard(card, player.player)"
             (click)=" investigate(player.player, i + 1)
      ">
          <img [src]="imageForCard(player.player, card)">
        </div>
      </div>
      <div class="cards">
        <div class="card investigator" *ngIf="game.value?.currentInvestigatorId === player.player.id"
             matTooltip="The lead investigator."
             [@simpleFadeAnimation]="'in'">
          <img
              src="assets/flashlight.png">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="visible-cards">
  <div *ngFor="let cardRound of (cardRounds | async); trackBy: trackByIndex;"
       class="visible-cards-round">
    <div *ngFor="let card of cardRound; trackBy: trackByIndex;" class="card"
         [@simpleFadeAnimation]="'in'"
         [matTooltip]="tooltipForVisibleCard(card)">
      <img [src]=" imageForVisibleCard(card)
    ">
    </div>
  </div>
</div>

<div class="end-container"
     *ngIf="game.value?.state === 'Cultists Win' || game.value?.state === 'Investigators Win'">
  <ng-container *ngIf="game.value?.state === 'Cultists Win'">
    <div class="animated intensifies ending">Cultists Win!!</div>
  </ng-container>

  <ng-container *ngIf="game.value?.state === 'Investigators Win'">
    <div class="animated shakeit ending">Investigators Win!!</div>
  </ng-container>
  <button mat-flat-button matTooltip="Restart the game with the same players." (click)="restart()"
          color="primary">
    Restart?
  </button>
</div>
