<h1>What is this?</h1>
This is an online version of Indie Boards and Cards's popular Don't Mess with Cthulhu board game.
It was created by Dave Otaguro and Kevin Villela for the Plx team. Anyone is welcome to play it.
<h1>How do I play?</h1>
The gameplay is intended to be exactly the same at the rules defined
<a href="https://www.ultraboardgames.com/dont-mess-with-cthulhu/game-rules.php" target="_blank"
   rel="noreferrer noopener">here</a>,
so please read those first. After that, hit the Cthulhu icon in the top-left to get back to the
main menu. Create a game, make some friends, give them the link, and start playing! Technically,
2-13 players are supported, but 6-10 is ideal. A couple of tips:
<ul>
  <li>It is cheating to tell the investigator what position your cards are in
    (<a href="https://github.com/KevinVillela/lovecraft/issues/13" target="_blank"
        rel="noreferrer noopener">bug</a>).
  </li>
  <li>Click the cards to zoom in on them.</li>
  <li>Mute the tab if the sounds are too annoying.</li>
  <li>If something looks wrong, please refresh the page.</li>
</ul>
<h1>There are bugs.</h1>
<a href="https://youtu.be/HrTmeKPy0n0?t=28" target="_blank" rel="noreferrer noopener">
  What?? Oh my god. Who told you?!
</a> Please ping me (Kevin) directly if there are major bugs that don't allow you to play the game.
Otherwise, file it against the
<a href="https://github.com/KevinVillela/lovecraft" target="_blank" rel="noreferrer noopener">
  Github repo
</a> and I will begin ignoring it immediately. The best way to format your feature requests or bug
reports is in the form of a pull request.
